.popup-search-input {
  width: 300px;
  position: relative;
  height: 2.3em;
}
.popup-search-input #course-search {
  width: 240px;
}
#search-output {
  max-height: 100px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#search-output li {
  cursor: pointer;
}
#search-output li:hover {
  background: #f2f2f2;
}
#hover-info .course-info {
  width: 300px;
  margin-top: 20px;
  background: #fff;
}
#hover-info .course-info h3 {
  margin: 0;
}
#hover-info .course-info .hours {
  position: relative;
}
#hover-info .course-info .hours >.credit-hours:before {
  content: "Credit hrs: ";
}
#hover-info .course-info .hours >.lecture-hours:before {
  content: "Lecture hrs: ";
}
#hover-info .course-info .hours >.lab-hours:before {
  content: "Lab hrs: ";
}
#hover-info .course-info .hours >div:before {
  font-weight: bold;
}
#hover-info .course-info .hours >div {
  width: 33%;
  float: left;
  padding: 0;
}
#hover-info .course-info .close {
  display: none;
}
#hover-info.standalone {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#hover-info.standalone .course-info {
  padding: 20px;
  margin: 0;
}
