head
  title MOState Course Sorter
  link(href="/styles/bootstrap.css" rel="stylesheet")
  style.
    .course-list {
      list-style: none;
      border-left: solid red 2px;
      padding-bottom: 4em;
      background: #dbdbdb;
      width:100%
    }
    .course-list .course-description .Label {color:black}
    .course-list .course-title {font-size:2em}
    .course-list .course-actions {display:block;
      padding:.5em; margin-bottom:-1em; line-height: 1em}
    p.one-high {
      display: block; overflow: hidden;
      height: 1em; line-height: 1em;
    }
body
  .container
    ul.course-list
    form.form#add-course
      .input-group
        label.input-group-addon(for="course-name" title="Eg: 'ART 200'") Course ID
        input.form-control#course-name
      .text-center(style="padding:1em")
        #warning.label.label-danger
  footer
    script(src="/scripts/jquery-2.1.1.js")
    script(type="text/coffeescript" src="/scripts/main.coffee")
    script(type="text/coffeescript").
      addCourse("CSC 365")
    script(src="/scripts/coffee-script.js")