head
  title MOState Course Sorter
  link(href="vendor/bootstrap.css" rel="stylesheet" type="text/css")
  link(href="styles.css" rel="stylesheet" type="text/css")
body
  .left-bar-search
    .input-group
      label.input-group-addon(for="course-search" title="Eg: 'ART 200'") Search Courses
      input.form-control#course-search
    div
      ul#output-search
      .text-center(style="padding:1em")
        #warning.label.label-danger
      #course-history
        strong History
        div
  .center-courses
  #hover-info
  footer
    script(type="text/javascript" src="extension/vendor/fuse-1.2.0.min.js")
    script(type="text/javascript" src="extension/vendor/jquery-2.1.1.js")
    script(type="text/javascript" src="vendor/interact-1.2.4.js")
    script(type="text/javascript" src="script.js")