.popup-search-input
  width 300px
  position relative
  height 2.3em
  #course-search
    width 240px
#search-output
  max-height: 100px
  overflow-y: auto
  list-style none
  margin 0
  padding 0
  li
    cursor pointer
  li:hover
    background #f2f2f2

#hover-info .course-info
  width 300px
  margin-top 20px
  background white
  h3
    margin 0
  .hours
    position:relative
    >.credit-hours:before
      content: "Credit hrs: "
    >.lecture-hours:before
      content: "Lecture hrs: "
    >.lab-hours:before
      content: "Lab hrs: "
    >div:before
      font-weight: bold
    >div
      width: 33%
      float: left
      padding: 0
  .close
    display none

#hover-info.standalone
  box-shadow 2px 2px 4px rgba(0,0,0,0.2) 
  .course-info
    padding 20px
    margin 0