head
  link(rel="stylesheet" href="popup.css")
body
  .popup-search-input
    label Search&nbsp;
    input#course-search
  ul#search-output
  #hover-info
  script(src="vendor/jquery-2.1.1.js")
  script(src="utils.js")
  script(src="foreground-utils.js")
  script(src="popup.js")
